<h2>Signals, Input, Model, and Output Properties</h2>
<nav>
    <h3>Topics</h3>
    <ul>
    <li>
        <button
        (click)="switchVisibleSection(PAGE_SECTIONS.SIGNAL)"
        [class]="styleThemeService.styleTheme()"
        [class.active]="isNavButtonActive(PAGE_SECTIONS.SIGNAL)"
        >
        Signal
        </button>
    </li>
    <li>
        <button
        (click)="switchVisibleSection(PAGE_SECTIONS.INPUT)"
        [class]="styleThemeService.styleTheme()"
        [class.active]="isNavButtonActive(PAGE_SECTIONS.INPUT)"
        >
        Input
        </button>
    </li>
    <li>
        <button (click)="switchVisibleSection(PAGE_SECTIONS.MODEL)"
        [class]="styleThemeService.styleTheme()"
        [class.active]="isNavButtonActive(PAGE_SECTIONS.MODEL)">
        Model
        </button>
    </li>
    <li>
        <button (click)="switchVisibleSection(PAGE_SECTIONS.OUTPUT)"
        [class]="styleThemeService.styleTheme()"
        [class.active]="isNavButtonActive(PAGE_SECTIONS.OUTPUT)">
        Output
        </button>
    </li>
    </ul>
</nav>

@switch (visibleSection()) {
  @case (PAGE_SECTIONS.SIGNAL) { 
    <section>
      <h3>Signal</h3>
      <p>
        A signal is a wrapper around a value that notifies interested consumers
        when that value changes. Signals can contain any value, from primitives
        to complex data structures.
      </p>
      <section>
        <h4>Writable Signals</h4>
        <p>
          Writable signals provide an API for updating their values directly.
          You create writable signals by calling the signal function with the
          signal's initial value
        </p>
        <pre>
            <code [highlight]="CODE_STRINGS.SIGNAL1" language="typescript"></code>
            <shared-copy-button ></shared-copy-button>
        </pre>
        <p>You read a signal's value by calling its getter function</p>
        <pre>
            <code [highlight]="CODE_STRINGS.SIGNAL2" language="typescript"></code>
            <shared-copy-button></shared-copy-button>
        </pre>
        <p>
          To change the value of a writable signal, either
          <code>.set()</code> it directly.
        </p>
        <pre>
            <code [highlight]="CODE_STRINGS.SIGNAL3" language="typescript"></code>
            <shared-copy-button></shared-copy-button>
        </pre>
        <p>
          or use the <code>.update()</code> operation to compute a new value
          from the previous one.
        </p>
        <pre>
            <code [highlight]="CODE_STRINGS.SIGNAL4" language="typescript"></code>
            <shared-copy-button></shared-copy-button>
        </pre>
      </section>
      <section>
        <h4>Computed Signals</h4>
        <p>
          Computed signal are read-only signals that derive their value from
          other signals. You define computed signals using the computed function
          and specifying a derivation:
        </p>
        <pre>
            <code [highlight]="CODE_STRINGS.SIGNAL5" language="typescript"></code>
            <shared-copy-button></shared-copy-button>
        </pre>
      </section>
    </section>
  } @case (PAGE_SECTIONS.INPUT) {
    <section>
      <h2>Input</h2>
      <p>A component specifies the data that it accepts by declaring inputs.</p>
      <section>
        <h3>Creating and using inputs</h3>
        <pre>
            <code [highlight]="CODE_STRINGS.INPUT1" language="typescript"></code>
            <shared-copy-button></shared-copy-button>
        </pre>
        <p>This lets you bind to the property in a template:</p>
        <pre>
            <code [highlight]="CODE_STRINGS.INPUT2" language="html"></code>
            <shared-copy-button></shared-copy-button>
        </pre>
        <p>
          If an input without a default value is not set, its value is
          <code>undefined</code>:
        </p>
      </section>
    </section>
  } @case (PAGE_SECTIONS.MODEL) {
    <section>
      <h2>Model</h2>
      <p>
        Model inputs are a special type of <code>input</code> that enable a
        component to propagate new values back to its parent component.
      </p>
      <p>
        To enable two-way binding between components, the child component must
        contain a <code>model</code> property.
      </p>
      <pre>
        <code [highlight]="CODE_STRINGS.MODEL1" language="typescript"></code>
        <shared-copy-button></shared-copy-button>
      </pre>
      <pre>
        <code [highlight]="CODE_STRINGS.MODEL2" language="typescript"></code>
        <shared-copy-button></shared-copy-button>
      </pre>
    </section>
  } @case (PAGE_SECTIONS.OUTPUT) {
    <section>
      <h2>Output</h2>
      <p>
        Angular components can define custom events by assigning a property to
        the <code>output</code> function.
      </p>
      <pre>
        <code [highlight]="CODE_STRINGS.OUTPUT1" language="typescript"></code>
        <shared-copy-button></shared-copy-button>
      </pre>
      <pre>
        <code [highlight]="CODE_STRINGS.OUTPUT2" language="html"></code>
        <shared-copy-button></shared-copy-button>
      </pre>
      <p>
        You can emit an event by calling the emit method on the
        <code>OutputEmitterRef</code>.
      </p>
      <pre>
        <code [highlight]="CODE_STRINGS.OUTPUT3" language="typescript"></code>
        <shared-copy-button></shared-copy-button>
      </pre>
      <h3>Subscribing to outputs programmatically</h3>
      <p>
        Used when creating a component dynamically and you want to subscribed
        from it. The <code>OutputRef</code> type includes a
        <code>subscribe</code> and <code>unsubscribe</code> method.
      </p>
      <pre>
        <code [highlight]="CODE_STRINGS.OUTPUT4" language="typescript"></code>
        <shared-copy-button></shared-copy-button>
      </pre>
    </section>
  } @default {
          <section>Section does not exist.</section>
  } 
}