<h2>Signals, Input, Model, and Output Properties</h2>
<shared-nav-list [navContent]="PAGE_SECTIONS"></shared-nav-list>

@switch (getVisibleSection()) {
  @case (PAGE_SECTIONS.SIGNAL.pageNum) { 
    <section>
      <h3>Signal</h3>
      <p>
        A signal is a wrapper around a value that notifies interested consumers
        when that value changes. Signals can contain any value, from primitives
        to complex data structures.
      </p>
      <section>
        <h4>Writable Signals</h4>
        <p>
          Writable signals provide an API for updating their values directly.
          You create writable signals by calling the signal function with the
          signal's initial value
        </p>
        <shared-pre-with-copy-button [code]="CODE_STRINGS.SIGNAL1" [lang]="'typescript'"></shared-pre-with-copy-button>
        <p>You read a signal's value by calling its getter function</p>
        <shared-pre-with-copy-button [code]="CODE_STRINGS.SIGNAL2" [lang]="'typescript'"></shared-pre-with-copy-button>
        <p>
          To change the value of a writable signal, either
          <code>.set()</code> it directly.
        </p>
        <shared-pre-with-copy-button [code]="CODE_STRINGS.SIGNAL3" [lang]="'typescript'"></shared-pre-with-copy-button>
        <p>
          or use the <code>.update()</code> operation to compute a new value
          from the previous one.
        </p>
        <shared-pre-with-copy-button [code]="CODE_STRINGS.SIGNAL4" [lang]="'typescript'"></shared-pre-with-copy-button>
      </section>
      <section>
        <h4>Computed Signals</h4>
        <p>
          Computed signal are read-only signals that derive their value from
          other signals. You define computed signals using the computed function
          and specifying a derivation:
        </p>
        <shared-pre-with-copy-button [code]="CODE_STRINGS.SIGNAL5" [lang]="'typescript'"></shared-pre-with-copy-button>
      </section>
    </section>
  } @case (PAGE_SECTIONS.INPUT.pageNum) {
    <section>
      <h3>Input</h3>
      <p>A component specifies the data that it accepts by declaring inputs.</p>
      <section>
        <h4>Creating and using inputs</h4>
        <shared-pre-with-copy-button [code]="CODE_STRINGS.INPUT1" [lang]="'typescript'"></shared-pre-with-copy-button>
        <p>This lets you bind to the property in a template:</p>
        <shared-pre-with-copy-button [code]="CODE_STRINGS.INPUT2" [lang]="'html'"></shared-pre-with-copy-button>
        <p>
          If an input without a default value is not set, its value is
          <code>undefined</code>:
        </p>
      </section>
    </section>
  } @case (PAGE_SECTIONS.MODEL.pageNum) {
    <section>
      <h3>Model</h3>
      <p>
        Model inputs are a special type of <code>input</code> that enable a
        component to propagate new values back to its parent component.
      </p>
      <p>
        To enable two-way binding between components, the child component must
        contain a <code>model</code> property.
      </p>
        <shared-pre-with-copy-button [code]="CODE_STRINGS.MODEL1" [lang]="'typescript'"></shared-pre-with-copy-button>
        <shared-pre-with-copy-button [code]="CODE_STRINGS.MODEL2" [lang]="'typescript'"></shared-pre-with-copy-button>
    </section>
  } @case (PAGE_SECTIONS.OUTPUT.pageNum) {
    <section>
      <h3>Output</h3>
      <p>
        Angular components can define custom events by assigning a property to
        the <code>output</code> function.
      </p>
        <shared-pre-with-copy-button [code]="CODE_STRINGS.OUTPUT1" [lang]="'typescript'"></shared-pre-with-copy-button>
        <shared-pre-with-copy-button [code]="CODE_STRINGS.OUTPUT2" [lang]="'html'"></shared-pre-with-copy-button>
      <p>
        You can emit an event by calling the emit method on the
        <code>OutputEmitterRef</code>.
      </p>
        <shared-pre-with-copy-button [code]="CODE_STRINGS.OUTPUT3" [lang]="'typescript'"></shared-pre-with-copy-button>
      <h4>Subscribing to outputs programmatically</h4>
      <p>
        Used when creating a component dynamically and you want to subscribed
        from it. The <code>OutputRef</code> type includes a
        <code>subscribe</code> and <code>unsubscribe</code> method.
      </p>
        <shared-pre-with-copy-button [code]="CODE_STRINGS.OUTPUT4" [lang]="'typescript'"></shared-pre-with-copy-button>
    </section>
  } @default {
          <section>Section does not exist.</section>
  } 
}