section {
  color: var(--font-color-1);
  border: 1px solid var(--border-color-1);
  border-radius: 10px;
  padding: 10px;
  box-shadow: var(--box-shadow-1);
  height: 100%;
  box-sizing: border-box;
}

ul {
  padding: 0;
}
