main > div {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header header" "nav content";
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  justify-self: center;
}

main.dark {
  background-color: var(--background-color-1);
  color: var(--font-color-1);
}

#main-header {
  grid-area: header;
  text-align: center;
}

#main-nav {
  grid-area: nav;
}

#main-content {
  grid-area: content;
}
