main {
  min-height: 100vh;
  width: 100%;
}

main > div {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header header" "nav content";
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  overflow-x: hidden;
  justify-self: center;
}

pre {
  overflow-x: scroll;
}

main.dark {
  background-color: var(--background-color-1);
  color: var(--font-color-1);
}

main.light code {
  color: var(--font-color-1);
}

#main-header {
  grid-area: header;
  text-align: center;
}

#main-nav {
  grid-area: nav;
  padding: 10px;
}

#main-content {
  grid-area: content;
  padding: 10px;
  padding-left: 60px;
  overflow-x: hidden;
}

#main-nav ul {
  padding-left: 0;
}
