li {
  list-style: none;
  overflow-x: hidden;
}

li:hover {
  cursor: pointer;
  border-radius: 5px;
}

li a {
  box-sizing: border-box;
  padding: 10px;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  text-wrap: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

li.dark a {
  color: var(--font-color-2);
}

li.light a {
  color: var(--font-color-3);
}

li:hover a {
  color: var(--font-color-1);
}

li.dark:hover {
  background-color: var(--background-color-2);
}

li.light:hover {
  background-color: var(--background-color-2);
}
