<h2>Routing</h2>
<p>
    To handle the navigation from one view to the next, you use the Angular
    Router. The Router enables navigation by interpreting a browser URL as an
    instruction to change the view.
</p>

<shared-nav-list [navContent]="PAGE_SECTIONS"></shared-nav-list>

@switch (getVisibleSection()) { 
    @case (PAGE_SECTIONS.DEFINING_BASIC_ROUTE.pageNum) {
        <section>
            <h3>Defining a basic route</h3>
            <p>1. Define your routes in your <code>Routes</code> array</p>
            <shared-pre-with-copy-button [code]='CODE_STRINGS.BASIC_ROUTE1' [lang]='"typescript"'></shared-pre-with-copy-button>
            <p>
            2. Add the <code>RouterLink</code>, <code>RouterLinkActive</code>, and
            <code>RouterOutlet</code> to the imports array of AppComponent.
            </p>
            <shared-pre-with-copy-button [code]='CODE_STRINGS.BASIC_ROUTE2' [lang]='"typescript"'></shared-pre-with-copy-button>
            <p>3. Add your routes to your application</p>
            <shared-pre-with-copy-button [code]='CODE_STRINGS.BASIC_ROUTE3' [lang]='"html"'></shared-pre-with-copy-button>
        </section>
    } @case (PAGE_SECTIONS.GETTING_ROUTE_INFO.pageNum) {
        <section>
            <h3>Getting route information</h3>
            <p>
            1. Add the <code>withComponentInputBinding</code> feature to the
            <code>provideRouter</code>
            method.
            </p>
            <shared-pre-with-copy-button [code]='CODE_STRINGS.ROUTE_INFO1' [lang]='"typescript"'></shared-pre-with-copy-button>
            <p>
            2. Update the component to have an Input matching the name of the
            parameter.
            </p>
            <shared-pre-with-copy-button [code]='CODE_STRINGS.ROUTE_INFO2' [lang]='"typescript"'></shared-pre-with-copy-button>
        </section>
    } @case (PAGE_SECTIONS.WILDCARD_ROUTE.pageNum) {
        <section>
            <h3>Wildcard routes</h3>
            <p>
            The two asterisks, **, indicate to Angular that this routes definition
            is a wildcard route.
            </p>
            <shared-pre-with-copy-button [code]='CODE_STRINGS.WILDCARD_ROUTE' [lang]='"typescript"'></shared-pre-with-copy-button>
        </section>
    } @case (PAGE_SECTIONS.REDIRECTS.pageNum) {
        <section>
            <h3>Setting up redirects</h3>
            <p>1. Static redirect with <code>pathMatch</code></p>
            <shared-pre-with-copy-button [code]='CODE_STRINGS.REDIRECT1' [lang]='"typescript"'></shared-pre-with-copy-button>
            <p>2. Redirect using a function</p>
            <shared-pre-with-copy-button [code]='CODE_STRINGS.REDIRECT2' [lang]='"typescript"'></shared-pre-with-copy-button>
        </section>
    } @case (PAGE_SECTIONS.NESTED_ROUTES.pageNum) {
        <section>
            <h3>Nested routes</h3>
            <shared-pre-with-copy-button [code]='CODE_STRINGS.NESTED_ROUTE' [lang]='"typescript"'></shared-pre-with-copy-button>
        </section>
    } @case (PAGE_SECTIONS.QUERY_PARAMS_AND_FRAGMENTS.pageNum) {
        <section>
            <h3>Query params and fragments</h3>
            <p>1. In the component that you will <em>navigate FROM</em>:</p>
            <shared-pre-with-copy-button [code]='CODE_STRINGS.QUERY_PARAMS_AND_FRAGMENTS1' [lang]='"typescript"'></shared-pre-with-copy-button>
            <p>2. In the component that you will <em>navigate TO</em>:</p>
            <shared-pre-with-copy-button [code]='CODE_STRINGS.QUERY_PARAMS_AND_FRAGMENTS2' [lang]='"typescript"'></shared-pre-with-copy-button>
        </section>
    } @case (PAGE_SECTIONS.LAZY_LOADING.pageNum) {
        <section>
            <h3>Lazy loading</h3>
            <shared-pre-with-copy-button [code]='CODE_STRINGS.LAZY_LOADING' [lang]='"typescript"'></shared-pre-with-copy-button>
        </section>
    } @default {
        <section>Section does not exist.</section>
    } 
}

