/* You can add global styles to this file, and also import other style files */
@import "highlight.js/styles/github.css";

:root {
  --font-family-1: "Inter Tight", sans-serif;
  --font-color-1: rgb(251, 251, 251);
  --font-color-2: rgb(251, 251, 251, 0.6);
  --font-color-3: #0f0f11;
  --background-color-1: #0f0f11;
  --background-color-2: #24292e;
  --border-color-1: rgb(116, 110, 124);
  --box-shadow-1: 0 5px 10px 3px rgb(87 101 128 / 12%);
  --button-color-1: #0a47c2;
  --button-color-2: var(--background-color-2);

  /* this part is used by style them button */
  --hue: 223;
  --bg: hsl(var(--hue), 10%, 90%);
  --fg: hsl(var(--hue), 10%, 10%);
  --primary: hsl(var(--hue), 90%, 50%);
  --trans-dur: 0.3s;
  --trans-timing: cubic-bezier(0.76, 0.05, 0.24, 0.95);
  --trans-timing-in: cubic-bezier(0.76, 0.05, 0.86, 0.06);
  --trans-timing-out: cubic-bezier(0.05, 0.76, 0.06, 0.86);
}

body {
  font-family: var(--font-family-1);
  margin: 0;
}

p {
  line-height: 1.5em;
  font-size: 0.9rem;
}

code {
  font-family: "Fira Code", monospace;
  font-size: small;
  background-color: var(--background-color-2);
  font-size: 0.9rem;
  line-height: 1.5rem;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

pre {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
